- page_title "Dependency Proxy"

.settings-header
  %h4= _('Dependency proxy')

  %p
    - link_start = '<a href="%{url}">'.html_safe % { url: help_page_path('PLACEHOLDER') }
    = s_('Create a local proxy for storing frequently used upstream images. %{link_start}Learn more%{link_end} about dependency proxies.').html_safe % { link_start: link_start, link_end: '</a>'.html_safe }

- if @group.public?
  - if can?(current_user, :admin_dependency_proxy, @group)
    = form_for(@dependency_proxy, method: :put, url: group_dependency_proxy_path(@group)) do |f|
      .form-group
        .js-dependency-proxy-toggle-area
          %button{ type: 'button',
            class: "js-project-feature-toggle project-feature-toggle #{'is-checked' if @dependency_proxy.enabled?}",
            "aria-label": s_("DependencyProxy|Toggle Dependency Proxy") }
            = f.hidden_field :enabled, { class: 'js-project-feature-toggle-input'}
            %span.toggle-icon
              = sprite_icon('status_success_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-checked')
              = sprite_icon('status_failed_borderless', size: 16, css_class: 'toggle-icon-svg toggle-status-unchecked')

      - if @dependency_proxy.enabled
        = render 'groups/dependency_proxies/url'

      .prepend-top-20
        = f.submit 'Save changes', class: 'btn btn-success'

  - else
    - if @dependency_proxy.enabled
      = render 'groups/dependency_proxies/url'
- else
  .alert.alert-info
    = _('Dependency proxy feature is limited to public groups for now.')
